body {
    text-align: center;
    background-color: rgb(150,200,150);
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}

form {
    width: 400px;
    margin: auto;
    text-align: left;
    background-color: darkgreen;
    padding: 40px;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgb(0,0,0,.7);
    box-sizing: border-box;
}

.questions {
    font-weight: 600;
} 

form>* {
    display: block;
}

form>*+* {
    margin-top: 30px;
}

input, select {
    width: 100%;
    padding: 10px 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid grey;
}

input[type='radio'], input[type='radio']+label, input[type='checkbox'], input[type='checkbox']+label {
    display: inline-block;
    width: auto;
}

.checkLine {
    margin-top: 10px !important;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    margin-top: 10px;
    height: 80px;
    border-radius: 4px;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 5px;
}

#submit {
    padding: 15px 40px;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1.4px;
    margin-top: 25px;
    background-color: grey;
    border: 2px solid grey;
    border-radius: 5px;
}

@media (max-width: 450px){
    form {
        width: 100% !important;
        border-radius: 0;
        box-shadow: none;
    }
}